Repository PyAirtableMCP/pyairtable-compose: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-unit-tests, go-unit-tests-custom, frontend-unit-tests, security-scan, dependency-check, coverage-check, license-check, secrets-check

python-unit-tests:
  name: Run Python Unit Tests
  entry: ./scripts/pre-commit-python-tests.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

go-unit-tests-custom:
  name: Run Go Unit Tests
  entry: ./scripts/pre-commit-go-tests.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

frontend-unit-tests:
  name: Run Frontend Unit Tests
  entry: ./scripts/pre-commit-frontend-tests.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

security-scan:
  name: Security Vulnerability Scan
  entry: ./scripts/pre-commit-security-scan.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

dependency-check:
  name: Dependency Vulnerability Check
  entry: ./scripts/pre-commit-dependency-check.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

coverage-check:
  name: Coverage Threshold Check
  entry: ./scripts/pre-commit-coverage-check.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

license-check:
  name: License Header Check
  entry: ./scripts/pre-commit-license-check.sh
  language: system
  pass_filenames: false
  stages:
  - commit

secrets-check:
  name: Secrets Detection
  entry: ./scripts/pre-commit-secrets-check.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

fix(auth): Core authentication service fixes only
  docker-compose.auth-test.yml
  go-services/auth-service/Dockerfile
  go-services/auth-service/go.mod
  go-services/auth-service/internal/handlers/auth.go
  go-services/auth-service/internal/middleware/auth.go
  go-services/auth-service/internal/models/user.go
  go-services/auth-service/internal/models/user_test.go
  go-services/auth-service/internal/repository/interfaces.go
  go-services/auth-service/internal/repository/postgres/user_repository.go
  go-services/auth-service/internal/service/auth_test.go
  go-services/auth-service/internal/services/auth.go
  go-services/auth-service/internal/services/auth_test.go
Due: go-unit-tests-custom, security-scan, dependency-check, coverage-check, license-check, secrets-check

Complete production-ready authentication system backend
  go-services/auth-service/README_AUTH_COMPLETION.md
  go-services/auth-service/env.example
  go-services/auth-service/go.mod
  go-services/auth-service/go.sum
  go-services/auth-service/internal/handlers/auth.go
  go-services/auth-service/internal/handlers/auth_test.go
  go-services/auth-service/internal/middleware/security.go
  go-services/auth-service/internal/models/password.go
  go-services/auth-service/internal/services/auth.go
  go-services/auth-service/internal/services/interfaces.go
  go-services/auth-service/run_comprehensive_tests.sh
  go-services/auth-service/test_auth_service.go
  go-services/auth-service/test_integration.go
Due: go-unit-tests-custom, security-scan, dependency-check, coverage-check, license-check, secrets-check

feat: Complete authentication system implementation
  frontend-services/tenant-dashboard/src/app/auth/change-password/page.tsx
  frontend-services/tenant-dashboard/src/app/auth/error/page.tsx
  frontend-services/tenant-dashboard/src/app/auth/forgot-password/page.tsx
  frontend-services/tenant-dashboard/src/app/auth/reset-password/page.tsx
  frontend-services/tenant-dashboard/src/app/auth/verify-email/page.tsx
  frontend-services/tenant-dashboard/src/app/providers.tsx
  frontend-services/tenant-dashboard/src/app/unauthorized/page.tsx
  frontend-services/tenant-dashboard/src/components/auth/auth-form.tsx
  frontend-services/tenant-dashboard/src/components/auth/form-field.tsx
  frontend-services/tenant-dashboard/src/components/auth/oauth-buttons.tsx
  frontend-services/tenant-dashboard/src/components/auth/protected-route.tsx
  frontend-services/tenant-dashboard/src/contexts/auth-context.tsx
  frontend-services/tenant-dashboard/src/hooks/use-api.ts
  frontend-services/tenant-dashboard/src/lib/auth-client.ts
  frontend-services/tenant-dashboard/src/lib/auth.ts
  frontend-services/tenant-dashboard/src/middleware.ts
Due: frontend-unit-tests, security-scan, coverage-check, license-check, secrets-check

🔒 CRITICAL: Implement comprehensive security fixes
  docker-compose.yml
  frontend-services/shared/security/xss-protection.ts
  python-services/airtable-gateway/src/main.py
  python-services/shared/security/__init__.py
  python-services/shared/security/authentication.py
  python-services/shared/security/database_security.py
  python-services/shared/security/input_validation.py
  python-services/shared/security/secure_endpoints.py
  python-services/shared/security/security_headers.py
  tests/security/automated_security_test_suite.py
Due: python-unit-tests, frontend-unit-tests, security-scan, coverage-check, license-check, secrets-check

Fix frontend-backend integration issues - 100% test success
  docker-compose.override.yml
  docker-compose.yml
  integration-test.sh
  python-services/airtable-gateway/src/dependencies.py
  python-services/airtable-gateway/src/main.py
  python-services/airtable-gateway/src/routes/airtable.py
  python-services/airtable-gateway/src/services/airtable.py
Due: python-unit-tests, security-scan, coverage-check, license-check, secrets-check

🧪 Implement comprehensive test coverage infrastructure
  .github/workflows/test-coverage.yml
  Dockerfile.test
  INTEGRATION_FIX_SUMMARY.md
  TESTING_STRATEGY.md
  docker-compose.test.yml
  pytest.ini
  requirements-test.txt
  run-comprehensive-tests.sh
  tests/contract/test_auth_service_contracts.py
  tests/fixtures/database_seeders.py
  tests/fixtures/factories.py
  tests/integration/test_database_integration.py
  tests/unit/auth/test_auth_handlers.py
Due: python-unit-tests, security-scan, coverage-check, license-check, secrets-check

Add test database schema for comprehensive testing
  migrations/000_create_test_schema.sql
Due: none

🏗️ Implement comprehensive production infrastructure security hardening
  .env.production.example
  INFRASTRUCTURE_HARDENING_README.md
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  docker-compose.production.yml
  infrastructure/nginx/production.conf
  infrastructure/nginx/security/security-headers.conf
  infrastructure/postgresql/pg_hba.conf
  infrastructure/postgresql/production.conf
  infrastructure/redis/production.conf
  monitoring/loki/loki.production.yml
  monitoring/prometheus/prometheus.production.yml
  monitoring/prometheus/rules/alert-rules.yml
  monitoring/promtail/promtail.production.yml
  monitoring/tempo/tempo.production.yml
  scripts/deploy-production.sh
  scripts/security-scan.sh
Due: secrets-check

🚨 EMERGENCY: Remove exposed secrets and implement security fixes
  .env.all-services.example
  .env.example.new
  .env.phase1.example
  .gitignore
  EMERGENCY_CREDENTIAL_ROTATION.sh
  auth-service.env.example
  kafka-production.env
Due: secrets-check

🔐 Add security incident documentation and rotation script
  SECURITY_INCIDENT_REPORT.md
Due: none

feat: Add Sprint 4 integration tests and service configurations
  docker-compose.yml
  go-services/api-gateway/configs/config.yaml
  go-services/auth-service/internal/config/config.go
  go-services/auth-service/internal/middleware/auth.go
  go-services/user-service/docker-compose.yml
  go-services/user-service/go.mod
  go.work
  go.work.sum
  saga-orchestrator/pyproject.toml
  saga-orchestrator/src/saga_orchestrator/core/app.py
  saga-orchestrator/src/saga_orchestrator/core/config.py
  tests/fixtures/factories.py
  tests/pytest.ini
Due: python-unit-tests, go-unit-tests-custom, security-scan, dependency-check, coverage-check, license-check, secrets-check

docs: Add cleanup documentation and final service consolidation
  ACTUAL_SERVICE_INVENTORY.md
  CLEANUP_ASSESSMENT.md
  DELETE_ARCHIVED_EXPERIMENTS.md
  go-services/user-service/cmd/graphql-server/main.go
  go-services/user-service/graphql/resolvers.go
  go-services/user-service/graphql/schema.graphql
  go-services/user-service/graphql/server.go
Due: go-unit-tests-custom, security-scan, coverage-check, license-check, secrets-check

fix: Resolve CORS configuration issues in saga-orchestrator
  saga-orchestrator/src/saga_orchestrator/core/app.py
  saga-orchestrator/src/saga_orchestrator/core/config.py
Due: python-unit-tests, security-scan, coverage-check, license-check, secrets-check

docs: Add comprehensive merge strategy and release notes for Agent #10
  SPRINT_4_MERGE_STRATEGY.md
Due: none

📋 Add Sprint 4 completion documentation and team handoff
  .gitignore
  AGENT_10_FINAL_STATUS_REPORT.md
  PR_DESCRIPTION.md
  SPRINT_4_COMPLETION_FINAL.md
  SPRINT_4_MERGE_CHECKLIST.md
  SPRINT_5_PLANNING.md
  post_merge_validation.py
Due: python-unit-tests, security-scan, coverage-check, license-check, secrets-check

Fix: Comment out ALLOWED_EXTENSIONS environment variable
  docker-compose.yml
Due: secrets-check

fix: Comprehensive CI/CD pipeline fixes for production deployment
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/integration-tests.yml
  .github/workflows/main-ci-cd.yml
Due: secrets-check

🚑 Emergency service stabilization complete - 7/8 services healthy
  ARCHITECT_RECOVERY_PLAN.md
  IMMEDIATE_ACTION_PLAN.md
  INCIDENT_RESPONSE.md
  MERGE_EXECUTED.md
  POST_MERGE_STATUS.md
  PRE_MERGE_CHECKPOINT.md
  docker-compose.yml
  execute_final_merge.sh
  pyairtable-automation-services/src/config.py
  pyairtable_e2e_integration_report_20250811_182348.json
  run_merge.sh
Due: python-unit-tests, security-scan, coverage-check, license-check, secrets-check

Update README for clean separation
  README.md
Due: none

fix(python): PYAIR-001 Fix service import errors
  docker-compose.yml
  python-services/ai-processing-service/Dockerfile
  python-services/ai-processing-service/requirements.txt
  python-services/ai-processing-service/src/__init__.py
  python-services/ai-processing-service/src/config.py
  python-services/ai-processing-service/src/dependencies.py
  python-services/ai-processing-service/src/main.py
  python-services/ai-processing-service/src/models/__init__.py
  python-services/ai-processing-service/src/routes/__init__.py
  python-services/ai-processing-service/src/routes/health.py
  python-services/ai-processing-service/src/services/__init__.py
  python-services/ai-processing-service/src/simple_main.py
  python-services/ai-processing-service/src/utils/__init__.py
  python-services/airtable-gateway/.env.example
  python-services/airtable-gateway/.gitignore
  python-services/airtable-gateway/Dockerfile
  python-services/airtable-gateway/README.md
  python-services/airtable-gateway/graphql/schema.graphql
  python-services/airtable-gateway/requirements.txt
  python-services/airtable-gateway/src/config.py
  python-services/airtable-gateway/src/dependencies.py
  python-services/airtable-gateway/src/main.py
  python-services/airtable-gateway/src/middleware/__init__.py
  python-services/airtable-gateway/src/middleware/auth.py
  python-services/airtable-gateway/src/models/__init__.py
  python-services/airtable-gateway/src/routes/__init__.py
  python-services/airtable-gateway/src/routes/airtable.py
  python-services/airtable-gateway/src/routes/health.py
  python-services/airtable-gateway/src/services/__init__.py
  python-services/airtable-gateway/src/services/airtable.py
  python-services/airtable-gateway/src/utils/__init__.py
  python-services/airtable-gateway/tests/__init__.py
  python-services/airtable-gateway/tests/test_health.py
Due: python-unit-tests, security-scan, dependency-check, coverage-check, license-check, secrets-check

Add comprehensive integration test suite for Sprint 1
  Makefile
  run_integration_tests.py
  tests/README.md
  tests/__init__.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/integration/test_ai_chat_integration.py
  tests/integration/test_api_gateway_routing.py
  tests/integration/test_auth_flow.py
  tests/integration/test_frontend_backend_communication.py
  tests/integration/test_health_endpoints.py
  tests/integration/test_sprint1_core_functionality.py
  tests/requirements.txt
Due: python-unit-tests, security-scan, dependency-check, coverage-check, license-check, secrets-check

Sprint 2: Database Performance Optimization and Advanced Monitoring
  DATABASE_PERFORMANCE_OPTIMIZATION_GUIDE.md
  connection-pool-config.py
  db-performance-monitor.sh
  docker-compose.yml
  migrations/run_migrations.sh
  postgres-optimization.conf
Due: python-unit-tests, security-scan, coverage-check, license-check, secrets-check

Fix docker-compose service paths for Sprint 2 deployment
  docker-compose.yml
Due: secrets-check

Fix CI/CD: Remove workflows from compose repo (orchestration only)
  .github/workflows-archive/build-and-deploy.yml
  .github/workflows-archive/ci-cd-pipeline.yml
  .github/workflows-archive/deploy.yml
  .github/workflows-archive/enhanced-test-pipeline.yml
  .github/workflows-archive/kafka-deployment.yml
  .github/workflows-archive/main-ci-cd.yml
  .github/workflows-archive/observability-validation.yml
  .github/workflows-archive/pr-validation.yml
  .github/workflows-archive/security-scan.yml
  .github/workflows-archive/test-automation.yml
  .github/workflows/README.md
  docker-compose.yml
Due: secrets-check

FIX: Implement working authentication system and restructure SAGA orchestrator
  .env.phase1
  auth-service.env
  docker-compose.yml
  saga-orchestrator/Dockerfile
  saga-orchestrator/requirements.txt
  saga-orchestrator/saga_orchestrator/__init__.py
  saga-orchestrator/saga_orchestrator/main.py
  saga-orchestrator/saga_orchestrator/main_backup.py
  saga-orchestrator/saga_orchestrator/workflows.py
Due: python-unit-tests, security-scan, dependency-check, coverage-check, license-check, secrets-check

PYAIR-1004: Complete service organization and migration cleanup
  .env.working.example
  MIGRATION_COMPLETED.md
  SERVICE_AUDIT_REPORT.md
  docker-compose.working.yml
  python-services/ai-processing-service/Dockerfile
  python-services/ai-processing-service/requirements.txt
  python-services/ai-processing-service/src/__init__.py
  python-services/ai-processing-service/src/config.py
  python-services/ai-processing-service/src/dependencies.py
  python-services/ai-processing-service/src/main.py
  python-services/ai-processing-service/src/models/__init__.py
  python-services/ai-processing-service/src/routes/__init__.py
  python-services/ai-processing-service/src/routes/health.py
  python-services/ai-processing-service/src/services/__init__.py
  python-services/ai-processing-service/src/simple_main.py
  python-services/ai-processing-service/src/utils/__init__.py
  python-services/airtable-gateway/.env.example
  python-services/airtable-gateway/.gitignore
  python-services/airtable-gateway/Dockerfile
  python-services/airtable-gateway/README.md
  python-services/airtable-gateway/graphql/schema.graphql
  python-services/airtable-gateway/requirements.txt
  python-services/airtable-gateway/src/config.py
  python-services/airtable-gateway/src/dependencies.py
  python-services/airtable-gateway/src/main.py
  python-services/airtable-gateway/src/middleware/__init__.py
  python-services/airtable-gateway/src/middleware/auth.py
  python-services/airtable-gateway/src/models/__init__.py
  python-services/airtable-gateway/src/routes/__init__.py
  python-services/airtable-gateway/src/routes/airtable.py
  python-services/airtable-gateway/src/routes/health.py
  python-services/airtable-gateway/src/services/__init__.py
  python-services/airtable-gateway/src/services/airtable.py
  python-services/airtable-gateway/src/utils/__init__.py
  python-services/airtable-gateway/tests/__init__.py
  python-services/airtable-gateway/tests/test_health.py
Due: python-unit-tests, security-scan, dependency-check, coverage-check, license-check, secrets-check

PYAIR-1006: Core infrastructure updates with security hardening
  .env.template
  CLAUDE.md
  SECURITY_GUIDELINES.md
  docker-compose.yml
  migrations/run_migrations.sh
Due: secrets-check

PYAIR-1006: Add secure authentication and database testing services
  auth-monitor-service.py
  test-full-integration.py
  test_database.py
Due: python-unit-tests, security-scan, coverage-check, license-check, secrets-check

PYAIR-1006: Deploy comprehensive monitoring and distributed tracing stack
  docker-compose.monitoring.working.yml
  monitoring/README.md
  monitoring/alerting-rules.yml
  monitoring/alertmanager.yml
  monitoring/dashboards/auth-monitoring-dashboard.json
  monitoring/dashboards/pyairtable-services-observability.json
  monitoring/dashboards/system-overview.json
  monitoring/grafana-dashboards.yml
  monitoring/grafana-datasources.yml
  monitoring/grafana-provisioning/dashboards/dashboards.yml
  monitoring/grafana-provisioning/dashboards/service-health.json
  monitoring/grafana-provisioning/dashboards/simple-health.json
  monitoring/grafana-provisioning/datasources/datasources.yml
  monitoring/loki-simple.yml
  monitoring/loki.yml
  monitoring/monitoring_middleware.py
  monitoring/otel-collector.yml
  monitoring/prometheus-blackbox.yml
  monitoring/prometheus-simple.yml
  monitoring/prometheus.yml
  monitoring/promtail.yml
  monitoring/requirements.txt
  monitoring/simple-monitor.py
  monitoring/tempo.yml
  start-monitoring.sh
  tempo-config.yaml
Due: python-unit-tests, security-scan, dependency-check, coverage-check, license-check, secrets-check

Path conditions:
  python-unit-tests: any of: \.py$
  go-unit-tests-custom: any of: \.go$
  frontend-unit-tests: any of: \.(js|jsx|ts|tsx)$
  security-scan: any of: \.(py|go|js|jsx|ts|tsx|json)$
  dependency-check: any of: (requirements\.txt|go\.mod|package\.json|Pipfile|poetry\.lock|yarn\.lock)$
  coverage-check: any of: \.(py|go|js|jsx|ts|tsx)$
  license-check: any of: \.(py|go|js|jsx|ts|tsx)$
  secrets-check: any of: \.(py|go|js|jsx|ts|tsx|json|yaml|yml|env)$
